* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contact-section {
  width: 100%;
  min-height: 25rem;
  padding-top: 3.8rem;
}

/* This is the Monteserratti font properties stored in this class to avoid repetition */
.custom-style {
  font-family: "Montserrat";
  font-weight: 600;
  font-style: normal;
}

/* contact hero section */

.contact-hero-section {
  background: url(../img/Rectangle\ 135.png), url(../img/contact-page-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  line-height: 59px;
  color: #131515;
}

/* The information area containing company contcts */

.contact-information-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 50vh;
}

.contact-info-heading {
  font-size: 24px;
  padding-bottom: 1rem;
}

.contact-details {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.property {
  font-size: 20px;
}

.value a,
.value {
  font-family: "open Sans";
  font-size: 16px;
  color: #0b55f4;
  padding-left: 1rem;
  line-height: 21.8px;
}

/* stylings for the form section */

.form-area {
  width: 100%;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-area h2 {
  padding-bottom: 2rem;
}

.contact-page-form {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.contact-page-inpute {
  height: 2rem;
  margin-bottom: 1rem;
  outline: none;
  padding: 0.5rem;
}

.contact-text-area {
  margin-bottom: 1rem;
  outline: none;
  padding: 0.5rem;
}

.contact-page-btn {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
}

.contact-page-btn button {
  font-size: 14px;
  width: 166px;
  height: 2rem;
  line-height: 17.1px;
  letter-spacing: 1.25px;
  background-color: #0b55f4;
  color: #ffffff;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  padding: 0 1rem;
}

/* Tablet view properties */

@media only screen and (max-width: 768px) {
  .contact-section {
    padding-top: 3.82rem;
  }

  .contact-hero-section {
    padding: 0 2rem;
    text-align: center;
  }
}

/* Mobile view properties */

@media only screen and (max-width: 428px) {
  .contact-section {
    padding-top: 3rem;
  }

  .contact-hero-section {
    font-size: 1.2rem;
    text-align: center;
    height: 20rem;
  }

  .contact-page-form {
    width: 100%;
    padding: 0 1rem;
  }
}
